body {
  background-color: rgba(209, 190, 190, 0.247);
}

.register {
  margin-top: 5rem !important;

  padding: 1rem;
  border-radius: 1rem;
  background-color: white;
  margin-bottom: 3rem;
}
.register-form {
  margin-top: 2rem !important;
}
